*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to right,#1a1a2e,#16213e);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.player-header{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    color:#00f5d4
}

.song-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border:2px solid black;
    box-shadow:0 4px 20px rgba(0,0,0,0.5);
    margin-top:25px;
    color:white;
}
#cover{
    border-radius: 15px;
}

#audio{
    display:none;
}

.progress-container{
    width:80%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:white;
}
#progress{
    width:50px;
    appearance: none;
}
.controls{
    display: flex;
    gap:20px;
    justify-content: center;
    margin-top:20px;
}
.controls button {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: none;
   background-color: #0f0f0f;
   color: white;
   font-size: 1.3rem;
   transition: transform 0.2s, box-shadow 0.2s;
}


@media screen {
   from{transform:rotate(0deg);}
   to{transform:rotate(360deg);} 
    
}

.playing #cover{
    animation:spin 5s linear infinite;
}

.controls button:hover{
    transform:scale(1.1);
    box-shadow:0 0 10px #00f5d4;
}

@keyframes pulse{
    0%{box-shadow:0 0 15px #00f5d4;}
    50%{box-shadow: 0 0 30px #00f5d4;}
    100%{box-shadow:0 0 15px #00f5d4}
}

.playing #cover{
    animation: spin 5s linear infinite,pulse 2s ease-in-out infinite;
}

#progress{
    width:60%;
    height:5px;
    appearance: none;
    background:#222;
    border-radius:5px;
    overflow:hidden;
}

#progress::-webkit-slider-thumb{
    appearance: none;
    width:12px;
    height:12px;
    background:#00f5d4;
    border-radius:50%;
    cursor:pointer;
    box-shadow: 0 0 10px #00f5d4;
}


